body{
    font-family:Arial;
    background:#f4f4f4;
}

.chat-container{
    width:600px;
    margin:50px auto;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0px 0px 10px gray;
}

#chatbox{
    height:350px;
    border:1px solid #ccc;
    padding:10px;
    overflow-y:auto;
    margin-bottom:10px;
}

input{
    width:70%;
    padding:10px;
}

button{
    padding:10px;
    margin:5px;
}

.dark{
    background:#121212;
    color:white;
}

.dark .chat-container{
    background:#1e1e1e;
    color:white;
}